
html {
  font-size: 13px;
  /* 1 rem 10px */
}

.no-decoration {
    color: black;
    text-decoration: none; /* Optionally remove text decoration */
}
.no-decoration:hover {
    text-decoration: underline;
}

.nav-link {
    font-size: 14px;
    position: relative;
    color: inherit; /* Ensures that the color of the underline matches the color of the text */
}
.nav-link:hover {
    color: #FF9800; /* Color of the text on hover */
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust this value to control the distance of the underline from the text */
    width: 100%;
    height: 3px; /* Thickness of the underline */
    background-color: transparent; /* Initial color of the underline */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.nav-link:hover::after {
    background-color: #FF9800; /* Color of the underline on hover */
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
}

/* For Firefox */
/* Note: Firefox supports scrollbar styling starting from version 64 */
/* It's enabled by default but can be turned off by users */
/* To ensure compatibility, you may need to check for support before applying styles */
/* More info: https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.collapsible {
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 19px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}


.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 20px;
}

.active:after {
  content: "\2212";
}

.content{
  border-bottom: 1px solid #333; /* Bottom border style */
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.filter {
    text-decoration: none;
    padding: 0px;
}
.product_name{
    text-align: center;
}

.nav-item {
  padding: 0.5rem 0xp;
}

.dropdown-hover:hover>.dropdown-menu {
display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
pointer-events: none;
}

.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    font-size: 13px;

}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}


.rounded {
    border: 1px solid #333; /* Border color and thickness */
    border-radius: 15px; /* Adjust border-radius to control corner roundness */
}
.table tr.pih{
    background-color: #FF9800 !important;
}
